@charset "utf-8";

header {
	border-bottom:solid #0D9AFF 4px;
	padding:10px 0 0;
}

header .headerInner {
	width:980px;
	overflow:hidden;
	margin:0 auto;
}


.headerInner h1 {
	font-size:18px;
	float:left;
	cursor:pointer;
}

.headerInner nav {
	margin-left:60px;
	margin-top:15px;
	float:left;
}

.headerInner nav ul.mainMenu {
	overflow:hidden;
}

.headerInner nav ul.mainMenu li {
	list-style-type:none;
	margin-left:60px;
	cursor:pointer;
	font-size:18px;
	font-weight:bold;
	float:left;
}

.headerInner nav ul.mainMenu li span:hover {
	color:#2365FF;
}

.headerInner nav ul li:first-child { margin-left:0; }

/* slideDown, up 시 높이가 이상하게 설정되는 버그를 해결하기 위해 width를 설정 */
.headerInner nav ul.subMenu {
	z-Index:1000;
	background-color:white;'
	overflow:hidden;
	position:absolute;
	min-width:110px;
	border:solid black 2px;
	border-top:none;
	display:none;
}

.headerInner nav ul.subMenu li {
	list-style-type:none;
	cursor:pointer;
	font-size:14px;
	margin:5px 0;
	float:none;;
}

.headerInner .commonUI {
	margin-top:15px;
	float:right;
}




